/*Redes Sociales*/
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.social-icon {
    font-size: 24px;
    transition: color 0.3s ease;
}
.social-icon:hover {
    color: $color-primary;
}
.tienda-cont .btn {
    color: $color-tertiary;
    background-color: $color-secondary;

    &:hover { 
        background-color: lighten($color-secondary, 20%); 
    }
}
.contact-form .btn {
    color: $color-secondary;
    background-color: $color-tertiary;
    &:hover { 
        background-color: lighten($color-tertiary, 20%); 
    }
}