/*Cards*/
 .container-card {
    position: absolute; /* Position relative to .portada2 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center in .portada2 */
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2; /* Ensure it's above .portada2 */
    width: 100%;
} 
.card {
    margin: 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    flex-direction: column;
}
img {
    height: 350px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
    max-width: 100%;

}
.intro {
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27,27,27, .5);
    color: white;
}
.card:hover {
    cursor: pointer;
}
.card:hover .intro {
    height: 200px;
    bottom: 1px;
    background: rgba(27, 27, 27, 0.673);
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}
.card-img-top {
    width: 100%;
    height: 350px;
    border-radius: 12px;
}
.tienda-cont .card p {
    color: white;
    font-size: 16px;
}