//variables//

//tipografias//
$title-primary: "tiny5", sans-serif;
$title-secondary: "Thasadith", sans-serif;
$title-tertiary: "pixelify sans", sans-serif;
$title-quaternary: "courier new", monospace;

//colores//
$color-primary: white;
$color-secondary: #5e0759;
$color-tertiary:#98cf17;
//nombres de rama..
